body{
    height: auto;
    width: auto; 
    background-image: linear-gradient(to right, #edd7ab,#d7d3c5);
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{
    text-align: center;
    font-size: 30px;
}

h2{ margin: auto;
    margin-bottom: 20px;
   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-style: bold;
    font-size: 50px;
}

button{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 200px;
    border: none;
    color:white;
    font-weight:bold;
    margin-bottom: 5vh;
    border-radius: 5px;
}
#incrementBtn{
    background-color: darkred;
}
#incrementBtn:hover {
    background-color: rgb(109, 30, 30);
}
#resetBtn{
    background-color: black;
}
#resetBtn:hover{
    background-color: rgb(61, 59, 59);
}
#saveBtn{
    background-color: darkgoldenrod;
}
#saveBtn:hover{
    background-color: rgb(151, 111, 8);
}


p{
    text-align: center;
    font-weight: bold;
    height: 10vh;
    background-color: aliceblue;
}