@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Josefin+Sans:wght@300;400&family=Poppins&display=swap');

body{
    height: auto;
    width: auto; 
    background-image: url(wavey-fingerprint.svg);
    align-items: center;
    font-family: 'Aboreto', cursive;
}

h1{
    text-align: center;
    font-size: 30px;
}

.tabs{
    display: flex;
    flex-direction: row;
}

h2{ 
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-style: bold;
    font-size: 50px;
}


button{
    box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.27);
    font-family: 'Aboreto', cursive;
    font-size: 15px;
    background-color: rgb(235, 233, 233);
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 150px;
    color:rgb(0, 0, 0);
    font-weight:bold;
    margin-bottom: 5vh;
    border-radius: 15px;
    border: 1px ;
    cursor: pointer;
}

p{  box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.27);
    text-align: center;
    justify-content: center;
    padding:10px;
    background-color:rgb(235, 233, 233);
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    height: 10vh; 
}

.box{
    box-shadow: 0px 0px 23px 3px rgba(0,0,0,0.27);
    background-color : #ffffff ;
    margin: auto;
    margin-top: 10vh;
    width: 70%;
    max-width: 600px;
    /* border: 1px solid black; */
    border-radius: 20px;
    /* padding: 20px 30px 20px 50px; */
}
.top{
    padding:10px 50px 0px 50px
}
.bottom{
    padding:10px 50px 50px 50px
}